# ----------------------------------------
# PHP configuration
# ----------------------------------------
# Turn off for security reasons
php_value mail.add_x_header Off

# ----------------------------------------
# Apache configuration
# ----------------------------------------
<IfModule mod_deflate.c>
  # compress application generated output, this is handled by apache
  AddOutputFilterByType DEFLATE application/json
  # Compress compressible fonts
  AddOutputFilterByType DEFLATE font/ttf font/otf image/svg+xml
</IfModule>

<IfModule mod_mime.c>
  # Add correct content-type for fonts
  AddType application/vnd.ms-fontobject .eot
  AddType font/ttf .ttf
  AddType font/otf .otf
  AddType font/x-woff .woff
  AddType image/svg+xml .svg
</IfModule>

<IfModule mod_expires.c>
  # Add a far future Expires header for fonts
  ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/x-woff "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /

  # redirect to domain with www prefix to domain without the prefix
  RewriteCond %{HTTP_HOST}//s%{HTTPS} ^www\.(.*)//((s)on|s.*)$ [NC]
  RewriteRule ^ http%3://%1%{REQUEST_URI} [L,R=301]

  # redirect index.php to /
  # also handles the redirect of "index.php/foo/bar" to "/foo/bar"
  RewriteCond %{THE_REQUEST} ^[^/]+/index\.php/?(.*)(\?[^\ ]*)?\ HTTP/ [NC]
  RewriteRule index\.php(.*)?$ $1 [NC,R=301,L,QSA]

  # checks if the file exists
  # if this is an existing file or directory, stop url rewriting
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule .* - [L]

  # minifier for javascripts and CSS stylesheets
  RewriteRule ^min/([0-9]+)/([a-z]=.*) /min/index.php?$2&v=$1 [L,NE]
  # resizer for images
  RewriteRule ^(.*\.\d+x\d+\.(jpg|jpeg|gif|png)) /resize/index.php?img=$1 [L,NE]

  # redirect to urls with slash appended
  # url like: /foo will be redirected to /foo/
  RewriteCond %{REQUEST_URI}//s%{HTTPS} ^/[^\.]+[^/]//((s)on|s.*)$
  RewriteRule ^(.*)$ http%3://%{HTTP_HOST}/$1/ [R=301,L]

  # front web controller
  RewriteRule ^(.*)$ /index.php [B,QSA,L]

</IfModule>

# big crash from our front web controller
ErrorDocument 500 "<!DOCTYPE html><html><title>Application error</title><body><h2>Application error</h2>application failed to start properly</body></html>"
