
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
      
body {  
  background: #fff;
  margin: 0;
  margin-top: 10%;
  margin-left: 10%;
  padding: 0;
  width: 75%; 
  font: 100%/1.5 "Ubuntu", sans;
}

p {
  line-height: 150%;
  padding: 0.25em 0 0.3em 0;  
}

a:link { 
  padding: 0.15em;
  font-weight: bold;  
  color: #C02A0B; 
}

a:visited { 
  color: #C02A0D;  
  font-weight: bold;   
  padding: 0.15em;
}

a:hover, a:active {
  color: #f8f8f8;
  background-color: #000;
  text-decoration: none;
}

div.box {
  background: #e5e5e5;  
  margin-top: 1em;
  margin-bottom: 2em;   
  padding: 1em;
   -moz-border-radius: 11px;
   -khtml-border-radius: 11px;
   -webkit-border-radius: 11px;
   -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
   -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
   -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
   box-shadow: rgba(200,200,200,1) 0 4px 18px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

h1 {
  display: block;
}

/* HEADINGS */
div.app_error {
  color: #fff;
  height: 35px;
  font-size: 15px;
  padding: 10px;
  color: #000;
}

div.app_error h1 {
  width: 99%;
}

ul {
  list-style-type: square;
  padding: 1em;  
  padding-top: 0;
}

ul li {
  margin: 0.5em;  
}

ul li a {
  text-decoration: none;
}
 